[
  {
    "name"              : "node-app-oms",
    "script"            : "app.js",
    "log_date_format"   : "YYYY-MM-DD HH:mm Z",
    "merge_logs"        : false,
    "watch"             : false,
    "max_restarts"      : 10,
    "exec_interpreter"  : "node",
    "exec_mode"         : "fork_mode",
    "env":
    {
      "NODE_ENV"        : "production",
      "RPC_HOST"        : "localhost",
      "RPC_PORT"        : "8545",
      "LISTENING_PORT"  : "30303",
      "INSTANCE_NAME"   : "Node1",
      "CONTACT_DETAILS" : "",
      "VERBOSITY"       : 2,
      "OMS_WORKSPACE_ID": "4528ba1e-e081-42e6-b083-051b4cc6c66a",
      "OMS_KEY"         : "ZSKTH9PueVF9i4UdJacpNQv36VAAcojQfeN6OfAZ4xxLdM8blp90IbsAANLzG1RbSOPiuCqORfCMv9F2lEQJFg=="      
    }
  }
]
